.add-new-task {
  font-size: 2em;
  margin: 2em 0 0.8em 6.6em;
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
}

.add-icon{
  margin-top: 0.1em;
}

.task-list {
  max-width: 70em;
  margin: 0 auto;            
  display: flex;
  flex-direction: column;
  align-items: center;       
}
.task-item {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.task-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #3f0071;
}

.task-description {
  margin-top: 0.5rem;
  color: #5e5e5e;
}

.container{
  margin-bottom: 1em;
}

.task-date {
  margin-top: 0.25rem;
  font-size: 0.9rem;
  color: #888;
}

.task-actions{
  display: flex;
  justify-content: flex-end;

} 

.button-delete {
  background-color: #ff4d4d; 
  border: 2px solid #cc000045; 
  padding: 0.5em 1em;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.button-edit {
  background-color: #3182ce;
  border: 2px solid #2b6cb0;
  padding: 0.5em 1em;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.icons{
  margin-top: 0.3em;
  margin-left: 0.2em;
}

.modal-content {
  width: 89.8em;
  height: 10.3em;
  background: #ffffff;
  border: 1px solid #777777;
  margin: 9.5em 19em;
  padding: 2em;
  padding-top: 3em;
  border-radius: 1em;
}

.blur-overlay {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3);
}

.no-tasks {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 600;
  color: #718096;
  text-align: center;
  font-style: italic;
  user-select: none;
}
